<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    This is the admin page
    <br />
    Logged user: <span th:if="${user} != null" th:text="${user.name}"></span>
    <br />
    <form action="article/update" method="post">
    <div>
        <label for="reference">Reference de l'article à modifier :</label>
        <input type="text" id="reference" name="reference">
    </div>
      <div>
        <label for="quantite">Nouvelle quantite :</label>
        <input type="number" id="quantite" name="quantite">
    </div>
    <div>
        <label for="prix">nouveaux prix :</label>
        <input type="number" id="prix" name="prix">
    </div>
     <div class="button">
        <button type="submit">Envoyer la modification</button>
    </div>
    </form>
    <br />
    <a href="/logout">logout</a>
</body>
</html>
